/*===========================
  General
============================ */
body {
  /* background: #f9fdfe; */
  color: #686a69;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  color: #2a2f2c;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 25px;
  text-align: center;
}

h2 {
  font-size: 20px;
}

img {
  margin-left: 42.5%;
  max-width: 15%;
}

p.lead {
  padding-bottom: 20px;
  text-align: center;
}

.content {
  width: 75%;
  margin: 10% auto;
}

.col-2 {
  float: left;
  margin: 0px 5%;
  width: 40%;
}

/*===========================
  Search
============================ */
.form {
  font-size: 16px;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 16px 0 32px;
  position: relative;
}

.label {
  display: block;
  color: #414643;
  line-height: 1.125;
}

.input-text {
  border: 1px solid #cdcfcf;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0px 20px;
  padding: 5px;
  transition: 150ms border-color linear;
  width: 70%;
}

/* .label-checkbox, .label-radio {
  display: inline-block;
  margin-left: 4px;
  margin-left: 0.25rem;
} */

/* .checkbox-group {
  display: inline-block;
  margin-right: 16px;
  margin-right: 1rem;
  font-size: 75%;
} */

/* .input-checkbox, .input-radio {
  display: inline-block;
  width: auto;
} */

/* .contact-form__input--checkbox~.contact-form__input--checkbox, .contact-form__input--radio~.contact-form__input--radio {
      margin-left: 16px;
      margin-left: 1rem;
    }

.contact-form__input:focus,.contact-form__input:active {
    border-color: #686a69;
    outline: 0;
  } */

.button {
  background-color: #686a69;
  border: 0;
  color: #f9fdfe;
  font-family: lato, sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 20px auto;
  padding: 5px 15px;
  text-transform: uppercase;
}

.button:hover, .button:active, .button:focus {
  background: #2a2f2c;
  cursor: pointer;
  outline: 0;
}

/*===========================
  Info
============================ */
.info {
  float: left;
  margin: 20px 5%;
  width: 90%;
}

.info > label {
  margin-top: 10px;
}

.day > p {
  display: inline-block;
}

.day > input {
  margin: 0px 10px;
}
/*===========================
  Code
============================ */
/* .results__display-wrapper {
  margin-top: 16px;
  margin-top: 1rem;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  background: #f9fdfe;
  border: 1px solid #cdcfcf;
  overflow-x: scroll;
} */
