.header
  img(src='https://raw.githubusercontent.com/oSoc18/SmartFlanders-blog/master/images/logo-smartflanders.png')
  .nav
    a(href="/") Home 
    a(href="/adres") Gebouw 
    a(href="/postcode") Service 
  h1 Smart Flanders
  h2 Gebouwenregister Smart Flanders
