.header
  img(src='https://raw.githubusercontent.com/oSoc18/SmartFlanders-blog/master/images/logo-smartflanders.png')
  a(href="/transform/") Home 
  h1 Smart Flanders
  h2 Gebouwenregister SmartFlander, mooie slogan
