doctype html
html
  head
    include partials/head

  body
    header
      include partials/header
    .content
      .info
        h3 Voeg informatie toe aan gebouw
        label.label Gevonden gebouweenheden binnen:
        select
          each unit in buildingunits 
            option(value=(unit.value)) #{unit.value}
            
        button.button Bekijk de gebouw-eenheden van dit gebouw
script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
