doctype html
html
  head
    include partials/head

  body
    header
      include partials/header
    .content
      .intro
        p Zoek een gebouw in uw stad en voeg de informatie over dit gebouw toe aan de datacatalogus.
        a.button(href='adres') Zoek gebouw
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
