doctype html
html
  head
    include partials/head

  body
    header
      include partials/header
    .content
      .container
        h3 Service toevoegen aan een gebouw
        h4 Geef een postcode in om alle gebouwen in deze gemeente te bekijken
        form(action='gebouwen', method="POST")
          label.label(for='postcode') Postcode:
          input.input-text(id='postcode'  name='postcode' type='number' required min='1000' max='9992') 
          button.button(type='submit') Bekijk gebouwen
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
