doctype html
html
  head
    include partials/head

  body
    header
      include partials/header
    .content
      .container
        h3 Overzicht van het gebouw in JSON-LD
        pre.snippet #{building}
script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
