/*===========================
 General
============================ */
body {
  background-color: #f3f1f3;
  color: #29264c;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.75;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  color: white;
}

h3 {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
}

h4 {
  text-align: center;
  margin: 0px 0px 45px;
}

a {
  color: white;
  text-decoration: none; 
}

.content {
  background-color: #f3f1f3;
  float: left;
  width: 100%;
}

.btn {
  background-color: #ffd400;
  border: 0;
  border-radius: 25px;
  color: #29264C;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
  margin: 20px auto auto;
  padding: 6px 30px; 
}

.btn:hover {
  background-color: #fee513; }

.form {
  font-size: 20px;
  display: block;
  margin: 0 15%;
  overflow: hidden;
  padding: 16px 0 32px;
  position: relative;
}

.label {
  display: block;
  line-height: 1.125;
  margin-top: 20px;
}

.input-text {
  border: 1px solid #29264c;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 10px 0px 0px;
  padding: 7px;
  transition: 150ms border-color linear;
  width: 98%;
}

/*===========================
 Header
============================ */
header {
  background-color: #4844A3;
  color: white;
  height: 85px;
  width: 100%;
}

header .logo {
  background-color: red;
  margin: 5px 15%;
}

header .logo  img {
  float: left;
  margin: 7.5px 0px 0px 15%;
  max-width: 65px;
}

header .logo p {
  float: left;
  font-size: 25px;
  letter-spacing: 2px;
  margin: 20px;
}

header .nav {
  float: right;
  padding-right: 15%;
}

header .nav a {
  float: left;
  margin: 25px;
}

header .nav a:hover {
  border-bottom: 2.5px solid #fee513;
  color: #fee513;
} 
        
/*===========================
 HOME - Intro
============================ */
.home {
  background-color: #4844A3;
  padding: 65px 15%;
  width: 70%;
}

.home h2 {
  width: 60%;
}

/*===========================
 HOME - Search
============================ */
.search {
  background-color: #f3f1f3;
  border-radius: 8px;
  box-shadow: 9px 9px 9px 0 rgba(38,36,79,.07);
  padding: 15px 40px 35px;
  position: relative;
  top: 20px;
}

.autocomplete {
  background-color: green;
  padding: 0px;
}

/*===========================
 HOME - Search - Buildingbox
============================ */
.flexcontainer {
  display: flex;
  flex-wrap: wrap;  
}

.building-box {
  background-color: #f3f1f3;
  height: 175px;
  padding-top: 25px;
  text-align: center;
  width: 200px;
}

/*===========================
  BUILDING
 ============================ */
.building {
  margin: 0px auto;
  width: 70%;
}

.buildinginfo, .services {
  float: left;
  margin: 50px auto;
  width: 50%;
}

.flexcontainer {
  display: flex;
}

.snippet {
  float: left;
  margin: 50px auto;
  width: 100%;
}

/*===========================
  BUILDING - info
============================ */
.buildinginfo .info {
  /* background-color: yellow; */
  float: left;
  margin: 0px auto;
  width: 100%;
}

.buildinginfo .info > p {
  margin: 0px 5% 0px 0px;
  text-align: left;
}

.iframe {
  border: none;
  margin: 30px 0px;
  width: 60%;
}

/*===========================
  BUILDING - services
============================ */

/*===========================
  SERVICE - form
============================ */
.serviceform {
  margin: 0px 15%;
  width: 70%;
}

/* =======
  Openinghours
 ============================ */
.openinghours {
  margin-top: 5px;
  margin-bottom: 20px;
}

.openinghours .weekdays {
  float: left;
}

.openinghours .weekdays p {
  margin: 0px 5px;
}

.openinghours .hours {
  float: left;
}

.openinghours .hours .day input[type="time"] {
  border: 1px solid #29264c;
  border-radius: 5px;
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0px 15px;
  padding: 4px 10px;
}
.openinghours .hours .day p {
  display: inline;
}

pre.snippet {
  background-color: white;
  margin: 0px auto 30px;
  padding: 20px;
  width: 100%;
}
